.main {
  background-color: $black;
  min-height: calc(100vh - 60px);
  .characters {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid $grey;
    .container {
      display: flex;
      img {
        height: 200px;
      }
      .description {
        color: $white;
        align-self: center;
        font-weight: 400;
        padding-left: 30px;
        font-size: 1.5rem;
      }
    }
  }
}
.game-container {
  position: relative;
  .game {
    width: 100%;
    height: auto;
    cursor: url("../img/target.png"), pointer;
  }
}
.onclick {
  position: absolute;
  z-index: 1;
  display: flex;
  .modal {
    display: flex;
    flex-direction: column;

    .choice {
      border: none;
      outline: none;
      background-color: $grey;
      color: $white;
      border: 1px solid $white;
      padding: 2px;
      cursor: pointer;
      letter-spacing: 1px;
      transition: all 0.2s;
      &:hover {
        background-color: $black;
      }
    }
  }
}
